header{
    height: 60px;
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

header>img{
    width:10%;
    max-width: 100px;
}

header input{
    margin: 0 5%;
    width: 40%;
    border: none;
    border-bottom: solid 1px #aaaaaa;
}

header div{
    margin: 0 2%;
}